---
title: Pasta Shapes
layout: layout.njk
---

<h1>Pasta Shapes</h1>
<p>Loaded {{ pasta.length }} pasta shapes.</p>

<ul>
  {% for item in pasta %}
    <li>
      <a href="/pasta/{{ item.ShapeName | slug }}/">{{ item.ShapeName }}</a>
      {% if item.Category %} - <em>{{ item.Category }}</em>{% endif %}
    </li>
  {% endfor %}
</ul>
